<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">First post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Second post</a></h2>
            <p>Recently, I remembered an amazing pizza place I visited a few times several years ago. I tried googling it for half an hour while commuting, but it was no use. But then again, five years had passed, and I wasn’t sure the place still exists. Later that week, I decided to walk around that part of the city, hoping I would find it. You know what? I succeeded! They did have a website, but I still could not find it via Google and had to go directly to the website to access it.</p>
        </div>
    </body>
</html>